h1{
    color: black;
}
body{
    background-image: url("C:/Users/FEDOR/Documents/Site html/images/GREAT.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
    
  


    
p{
    color: black;
}
body{
    color: black;
}